.App {
  display: flex;
  flex-direction: column;
  justify-content:left;
  alight-items: center;
  padding: 1.5rem 2rem 4rem 2rem;
  max-width: 30rem;
  color: #222222;
}

.App h1 {
  margin-bottom: 2.5rem;
}

.App .top-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
